openapi: 3.1.0
info:
  title: CARTO Platform Jobs API
  description: CARTO is a cloud-native location intelligence platform. The v3 REST API exposes SQL execution against a connected data warehouse (synchronous query and asynchronous jobs) which also powers workflow execution. The base URL is per-region (for example, https://gcp-us-east1.api.carto.com) and authentication uses an API Access Token obtained from CARTO Workspace.
  version: '3'
  contact:
    name: CARTO Developers
    url: https://docs.carto.com/carto-for-developers/
servers:
- url: https://gcp-us-east1.api.carto.com
  description: CARTO Cloud US (GCP us-east1)
- url: https://{tenant}/api
  description: Self-hosted CARTO tenant
  variables:
    tenant:
      default: your-carto-tenant.example.com
security:
- BearerAuth: []
tags:
- name: Jobs
paths:
  /v3/sql/{connection}/job:
    parameters:
    - $ref: '#/components/parameters/Connection'
    post:
      tags:
      - Jobs
      summary: Submit an asynchronous SQL job
      operationId: submitJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                queryParameters:
                  type: object
      responses:
        '200':
          description: Job metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  status:
                    type: string
                  externalId:
                    type: string
  /v3/sql/{connection}/job/{jobId}:
    parameters:
    - $ref: '#/components/parameters/Connection'
    - in: path
      name: jobId
      required: true
      schema:
        type: string
    get:
      tags:
      - Jobs
      summary: Check status of an asynchronous SQL job
      operationId: getJobStatus
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  status:
                    type: string
                    enum:
                    - pending
                    - running
                    - done
                    - failed
                  result:
                    type: object
components:
  parameters:
    Connection:
      in: path
      name: connection
      required: true
      schema:
        type: string
      description: Name of the data warehouse connection configured in CARTO
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: CARTO API Access Token (or OAuth M2M token)
